<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/3e2c15fb-006b-44dc-bb84-55331af5c28c/resourcegroups/MidStateShuttleServiceResourceGroup/providers/Microsoft.Web/sites/MidStateShuttleService</ResourceId>
    <ResourceGroup>MidStateShuttleServiceResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://midstateshuttleservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>21cdc756-559a-45aa-819f-349f0ed792a6</ProjectGuid>
    <PublishUrl>https://midstateshuttleservice.scm.azurewebsites.net/</PublishUrl>
    <UserName>$MidStateShuttleService</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>