@{
    ViewData["Title"] = "Edit Shuttle";
}

@inject MidStateShuttleService.Service.IListService ListServices
@model MidStateShuttleService.Models.Bus

<link rel="stylesheet" href="/css/Driver.css" />
<link rel="stylesheet" href="/css/Modal.css" />

<!-- Include jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<body>
    <div class="wrapper wrapper--w680 mt-5">
        <div class="form form-1">
            <div class="form-body">
                <h2 class="title">Edit Shuttle</h2>
                <form asp-action="Edit" method="post">
                    <input type="hidden" asp-for="BusId" /> <!-- Include hidden field for driver ID -->

                    <div class="input-fields">
                        <label>Shuttle Number</label>
                        <input asp-for="BusNo" type="text" class="form-control input--style-1" placeholder="Shuttle Number" required />
                        <div class="div-line"></div>
                        <div id="BusNo-validation-message" class="validation-message">Please enter a valid bus number.</div>
                    </div>

                    <div class="input-fields">
                        <label>Passenger Capacity</label>
                        <input asp-for="PassengerCapacity" type="number" class="form-control input--style-1" placeholder="Passenger Capacity" required />
                        <div class="div-line"></div>
                        <div id="PassengerCapacity-validation-message" class="validation-message">Please enter a valid passenger capacity.</div>
                    </div>

                    <div class="input-fields">
                        <label>Driver</label>
                        <select asp-for="DriverId"
                                asp-items="ViewBag.Drivers"
                                class="form-control input--style-1" required>
                            <option value="" disabled selected>--Select Driver--</option>
                        </select>
                        <div class="div-line"></div>
                        <div id="DriverId-validation-message" class="validation-message">Please select a driver.</div>
                    </div>

                    <div class="p-t-20">
                        <button type="submit" class="btn btn--radius btn--submit">Update Shuttle Info</button>
                        <button class="btn btn--radius btn--cancel" type="button" onclick="location.href='../../Dashboard'">Cancel</button>
                    </div>

                </form>
            </div>
        </div>

    </div>

    <!-- Success Modal -->
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successModalLabel">Edit Successful</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Shuttle edited successfully!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="location.href='../../Dashboard'">Return</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            var shuttleSuccess = '@TempData["ShuttleSuccess"]';
            if (shuttleSuccess === 'True') {
                $('#successModal').modal('show');
            }
        });
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/shuttle.js"></script>
</body>
