################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/RevanTeamProject/ShuttleService/.vs/ShuttleService/v17
/RevanTeamProject/ShuttleService/.vs/ShuttleService/FileContentIndex
/RevanTeamProject/ShuttleService/MidStateShuttleService/bin/Debug/net8.0
/RevanTeamProject/ShuttleService/MidStateShuttleService/obj/Debug/net8.0/ref
/RevanTeamProject/ShuttleService/MidStateShuttleService/obj/Debug/net8.0/refint
/RevanTeamProject/ShuttleService/MidStateShuttleService/obj/Debug/net8.0/scopedcss
/RevanTeamProject/ShuttleService/MidStateShuttleService/obj/Debug/net8.0/staticwebassets
/RevanTeamProject/ShuttleService/MidStateShuttleService/obj/Debug/net8.0/apphost.exe
/RevanTeamProject/ShuttleService/MidStateShuttleService/obj/Debug/net8.0/MidStateShuttleService.AssemblyInfoInputs.cache
/RevanTeamProject/ShuttleService/MidStateShuttleService/obj/Debug/net8.0/MidStateShuttleService.csproj.BuildWithSkipAnalyzers
/RevanTeamProject/ShuttleService/MidStateShuttleService/obj/Debug/net8.0/MidStateShuttleService.csproj.CoreCompileInputs.cache
/RevanTeamProject/ShuttleService/MidStateShuttleService/obj/Debug/net8.0/MidStateShuttleService.csproj.FileListAbsolute.txt
/RevanTeamProject/ShuttleService/MidStateShuttleService/obj/Debug/net8.0/MidStateShuttleService.dll
/RevanTeamProject/ShuttleService/.vs/ShuttleService/config/applicationhost.config
/RevanTeamProject/ShuttleService/MidStateShuttleService/obj/Debug/net8.0/MidStateShuttleService.genruntimeconfig.cache
/RevanTeamProject/ShuttleService/MidStateShuttleService/obj/Debug/net8.0/MidStateShuttleService.pdb
/RevanTeamProject/ShuttleService/MidStateShuttleService/obj/Debug/net8.0/MidStateShuttleService.MvcApplicationPartsAssemblyInfo.cache
/RevanTeamProject/ShuttleService/MidStateShuttleService/obj/Debug/net8.0/MidStateShuttleService.sourcelink.json
/RevanTeamProject/ShuttleService/MidStateShuttleService/obj/Debug/net8.0/staticwebassets.build.json
/RevanTeamProject/ShuttleService/MidStateShuttleService/obj/Debug/net8.0/staticwebassets.development.json
/RevanTeamProject/ShuttleService/MidStateShuttleService/obj/Debug/net8.0/staticwebassets.pack.json
