################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/RevanTeamProject/ShuttleService/.vs/ShuttleService/v17
/RevanTeamProject/ShuttleService/.vs/ShuttleService/FileContentIndex
/RevanTeamProject/ShuttleService/MidStateShuttleService/bin/Debug/net8.0
/RevanTeamProject/ShuttleService/MidStateShuttleService/obj/Debug/net8.0/ref
/RevanTeamProject/ShuttleService/MidStateShuttleService/obj/Debug/net8.0/refint
/RevanTeamProject/ShuttleService/MidStateShuttleService/obj/Debug/net8.0/scopedcss
/RevanTeamProject/ShuttleService/MidStateShuttleService/obj/Debug/net8.0/staticwebassets
/RevanTeamProject/ShuttleService/MidStateShuttleService/obj/Debug/net8.0/apphost.exe
/RevanTeamProject/ShuttleService/MidStateShuttleService/obj/Debug/net8.0/MidStateShuttleService.AssemblyInfoInputs.cache
/RevanTeamProject/ShuttleService/MidStateShuttleService/obj/Debug/net8.0/MidStateShuttleService.csproj.BuildWithSkipAnalyzers
/RevanTeamProject/ShuttleService/MidStateShuttleService/obj/Debug/net8.0/MidStateShuttleService.csproj.CoreCompileInputs.cache
/RevanTeamProject/ShuttleService/MidStateShuttleService/obj/Debug/net8.0/MidStateShuttleService.csproj.FileListAbsolute.txt
/RevanTeamProject/ShuttleService/MidStateShuttleService/obj/Debug/net8.0/MidStateShuttleService.dll
/RevanTeamProject/ShuttleService/.vs/ShuttleService/config/applicationhost.config
/RevanTeamProject/ShuttleService/MidStateShuttleService/obj/Debug/net8.0/MidStateShuttleService.genruntimeconfig.cache
/RevanTeamProject/ShuttleService/MidStateShuttleService/obj/Debug/net8.0/MidStateShuttleService.pdb
/RevanTeamProject/ShuttleService/MidStateShuttleService/obj/Debug/net8.0/MidStateShuttleService.MvcApplicationPartsAssemblyInfo.cache
/RevanTeamProject/ShuttleService/MidStateShuttleService/obj/Debug/net8.0/MidStateShuttleService.sourcelink.json
/RevanTeamProject/ShuttleService/MidStateShuttleService/obj/Debug/net8.0/staticwebassets.build.json
/RevanTeamProject/ShuttleService/MidStateShuttleService/obj/Debug/net8.0/staticwebassets.development.json
/RevanTeamProject/ShuttleService/MidStateShuttleService/obj/Debug/net8.0/staticwebassets.pack.json
/RevanTeamProject/ShuttleService/MidStateShuttleService/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/RevanTeamProject/ShuttleService/MidStateShuttleService/obj/Release/net8.0
/.vs
RevanTeamProject/ShuttleService/MidStateShuttleService/MidStateShuttleService.csproj.user
RevanTeamProject/ShuttleService/MidStateShuttleService/MidStateShuttleService.csproj.user
RevanTeamProject/ShuttleService/MidStateShuttleService/obj/Debug/net8.0/MidStateShuttleService.assets.cache
RevanTeamProject/ShuttleService/MidStateShuttleService/obj/Debug/net8.0/MidStateShuttleService.csproj.AssemblyReference.cache
RevanTeamProject/ShuttleService/MidStateShuttleService/MidStateShuttleService.csproj.user
RevanTeamProject/ShuttleService/MidStateShuttleService/obj/MidStateShuttleService.csproj.nuget.dgspec.json
RevanTeamProject/ShuttleService/MidStateShuttleService/obj/MidStateShuttleService.csproj.nuget.g.props
RevanTeamProject/ShuttleService/MidStateShuttleService/obj/project.assets.json
RevanTeamProject/ShuttleService/MidStateShuttleService/obj/project.nuget.cache
RevanTeamProject/ShuttleService/MidStateShuttleService/Views/Register/Index.cshtml
RevanTeamProject/ShuttleService/MidStateShuttleService/obj/project.nuget.cache
*.user
RevanTeamProject/ShuttleService/MidStateShuttleService/MidStateShuttleService.csproj.user
/.vs/capstone/DesignTimeBuild/.dtbcache.v2
/.vs/capstone/v17/.futdcache.v2
*.wsuo
/.vs/VSWorkspaceState.json
/RevanTeamProject/ShuttleService/.vs/ProjectEvaluation/shuttleservice.metadata.v7.bin
/RevanTeamProject/ShuttleService/.vs/ProjectEvaluation/shuttleservice.projects.v7.bin
/RevanTeamProject/ShuttleService/.vs/ShuttleService/DesignTimeBuild/.dtbcache.v2
/RevanTeamProject/ShuttleService/MidStateShuttleService/obj/Debug/net8.0/MidStateShuttleService.AssemblyInfo.cs
*.bin
