@model MidStateShuttleService.Models.Reservation

@{
    ViewBag.Title = "Arrival Confirmation";
}

<body>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Shuttle 2 Check In</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Wisconsin Rapids -> Stevens Point</h6>
            <h6 class="card-subtitle mb-2 text-body-secondary">3/14/2024 3:50pm</h6>
            <div class="mb-3">
                <label for="studentID" class="form-label">Enter Student ID</label>
                <input type="number" class="form-control" id="studentID" />
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary mb-3">Check In</button>
            </div>
        </div>
    </div>



</body>