@model MidStateShuttleService.Models.Reservation

@{
    ViewBag.Title = "Arrival Confirmation";
}

<link rel="stylesheet" href="css/CheckIn.css" />

<body>
    <div class="wrapper wrapper--w680">
        <div class="form form-1">
            <div class="form-body">
                <h2 class="title">Shuttle 2 Check In</h2>
                <h6 class="title">Wisconsin Rapids -> Stevens Point</h6>
                <h6 class="title">3/14/2024 3:50pm</h6>
                <div class="input-fields">
                    <input type="number" class="input--style-1" id="studentID" placeholder="Student ID" />
                </div>
                <div class="p-t-20">
                    <button type="submit" class="btn btn--radius btn--green">Check In</button>
                </div>
            </div>
        </div>
    </div>



</body>