/* ==========================================================================
   #GRID
   ========================================================================== */
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row-space {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.col-6 {
    width: -webkit-calc((100% - 60px) / 2);
    width: -moz-calc((100% - 60px) / 2);
    width: calc((100% - 60px) / 2);
}

@media (max-width: 767px) {
    .col-6 {
        width: 100%;
    }
}

/* ==========================================================================
   #BOX-SIZING
   ========================================================================== */
/**
 * More sensible default box-sizing:
 */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    /*font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 14px;*/
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 15px;
}

h6 {
    font-size: 13px;
}

/* ==========================================================================
   #BACKGROUND
   ========================================================================== */
.bg-blue {
    background: #2c6ed5;
}

/* ==========================================================================
   #SPACING
   ========================================================================== */
.p-t-100 {
    padding-top: 100px;
}

.p-t-20 {
    padding-top: 20px;
}

.p-b-100 {
    padding-bottom: 100px;
}
/* ==========================================================================
   #WRAPPER
   ========================================================================== */
.wrapper {
    margin: 80px auto;
}

.wrapper--w680 {
    max-width: 680px;
}

/* ==========================================================================
   #Form Structure
   ========================================================================== */
.form {
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
}

.form-1 {
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

.form-1 .form-body {
    padding: 0 90px;
    padding-top: 55px;
    padding-bottom: 65px;
}

@media (max-width: 767px) {
    .form-1 .form-body {
        padding: 0 40px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

/* ==========================================================================
   #TITLE
   ========================================================================== */
.title {
    margin-bottom: 37px;
}

/* ==========================================================================
   #Input Fields
   ========================================================================== */
input {
    outline: none;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    /* width: 100%; */ /* comment it out because it was causing the input fields to be too wide */
    font-size: 14px;
    font-family: inherit;
}

.input-fields {
    position: relative;
    margin-bottom: 30px;
}

.input--style-1 {
    padding: 9px 0;
    color: #666;
    border: none;
}

.input--style-radio-group {
    padding: 0px;
    color: #666;
    border: none;
}

.div-line {
    border-top: 2px solid #ccc;
}

.input--style-1::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #555;
}

.input--style-1:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #555;
    opacity: 1;
}

.input--style-1::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #555;
    opacity: 1;
}

.input--style-1:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #555;
}

.input--style-1:-ms-input-placeholder {
    /* Microsoft Edge */
    color: #555;
}

label.radio-label-style {
    margin-bottom: 0px;
    margin-right: 1rem;
    padding: 9px 0;
}

input.radio-style {
    position: static;
    margin-left: 0rem;
    margin-top: 0rem;
}

/* ==========================================================================
   #SPACING
   ========================================================================== */
.p-t-20 {
    padding-top: 20px;
}

/* ==========================================================================
   #BUTTON
   ========================================================================== */
.btn {
    line-height: 36px;
    display: inline-block;
    padding: 0 16px;
    cursor: pointer;
    color: #840029; /* Maroon color for text */
    font-size: 12px;
    font-weight: 700;
    border: 2px solid #840029; /* Initial border thickness */
    background-color: transparent; /* Transparent background */
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 5px;
    border-radius: 25px; /* Rounded corners */
    transition: all 0.1s ease-out; /* Smooth transition for all properties */
    animation: none;
}

.btn--submit:hover, .btn--cancel:hover {
    animation: thickenBorder 0.1s ease-out forwards; /* Apply the keyframe animation on hover */
}

/* Keyframes for border thickening animation */
@keyframes thickenBorder {
    to {
        border-width: 3px; /* Target a thicker border */
    }