/* Alexis: I just grabbed the stuff that Phoo did and copy/pasted it. 
   It would be better to link both forms to the same stylesheet I think, but this works for now */

/* ==========================================================================
   #GRID
   ========================================================================== */
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row-space {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.col-2 {
    width: -webkit-calc((100% - 60px) / 2);
    width: -moz-calc((100% - 60px) / 2);
    width: calc((100% - 60px) / 2);
}

@media (max-width: 767px) {
    .col-2 {
        width: 100%;
    }
}

/* ==========================================================================
   #BOX-SIZING
   ========================================================================== */
/**
 * More sensible default box-sizing:
 * css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice
 */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

    *, *:before, *:after {
        -webkit-box-sizing: inherit;
        -moz-box-sizing: inherit;
        box-sizing: inherit;
    }

/* ==========================================================================
   #RESET
   ========================================================================== */
/**
 * A very simple reset that sits on top of Normalize.css.
 */
/*body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
    margin: 0;
    padding: 0;
}
*/
/**
 * Remove trailing margins from nested lists.
 */
/*li > ol,
li > ul {
    margin-bottom: 0;
}*/

/**
 * Remove default table spacing.
 */
/*table {
    border-collapse: collapse;
    border-spacing: 0;
}*/

/**
 * 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
 *    on fieldsets.
 */
/*fieldset {
    min-width: 0;*/
/* [1] */
/*border: 0;
}

button {
    outline: none;
    background: none;
    border: none;
}*/


body {
    font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 15px;
}

h6 {
    font-size: 13px;
}

/* ==========================================================================
   #BACKGROUND
   ========================================================================== */
.bg-blue {
    background: #2c6ed5;
}

/* ==========================================================================
   #SPACING
   ========================================================================== */
.p-t-100 {
    padding-top: 100px;
}

.p-t-20 {
    padding-top: 20px;
}

.p-b-100 {
    padding-bottom: 100px;
}

/* ==========================================================================
   #WRAPPER
   ========================================================================== */
.wrapper {
    margin: 0 auto;
}

.wrapper--w680 {
    max-width: 680px;
}

/* ==========================================================================
   #BUTTON
   ========================================================================== */
.btn {
    line-height: 40px;
    display: inline-block;
    padding: 0 25px;
    cursor: pointer;
    font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
    color: #fff;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    font-size: 14px;
    font-weight: 700;
}

.btn--radius {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.btn--green {
    background: #57b846;
}

    .btn--green:hover {
        background: #4dae3c;
    }

/* ==========================================================================
   #DATE PICKER
   ========================================================================== */
td.active {
    background-color: #2c6ed5;
}

input[type="date" i] {
    padding: 14px;
}

.table-condensed td, .table-condensed th {
    font-size: 14px;
    font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
    font-weight: 400;
}

.daterangepicker td {
    width: 40px;
    height: 30px;
}

.daterangepicker {
    border: none;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    display: none;
    border: 1px solid #e0e0e0;
    margin-top: 5px;
}

    .daterangepicker::after, .daterangepicker::before {
        display: none;
    }

    .daterangepicker thead tr th {
        padding: 10px 0;
    }

    .daterangepicker .table-condensed th select {
        border: 1px solid #ccc;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        font-size: 14px;
        padding: 5px;
        outline: none;
    }


/* ==========================================================================
   #FORM
   ========================================================================== */
input {
    outline: none;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    /*    width: 100%; */ /* comment it out because it was causing the input fields to be too wide*/
    font-size: 14px;
    font-family: inherit;
}

.input-group {
    position: relative;
    margin-bottom: 30px;
    border-bottom: 2px solid #ccc;
}

.input-icon {
    position: absolute;
    font-size: 18px;
    color: #ccc;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.input--style-1 {
    padding: 9px 0;
    color: #666;
    border: none;
}

    .input--style-1::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: #555;
    }

    .input--style-1:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #555;
        opacity: 1;
    }

    .input--style-1::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #555;
        opacity: 1;
    }

    .input--style-1:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #555;
    }

    .input--style-1:-ms-input-placeholder {
        /* Microsoft Edge */
        color: #555;
    }
/*
    First trip yes or no radio buttons which I commented out for now
*/
/*.radio-inline-group {
    display: flex;
    position: relative;
    margin-bottom: 30px;
    border-bottom: 2px solid #ccc;
    align-items: center;
    gap: 60px;*/ /* Adjust the spacing between elements */
/*padding-bottom: 15px;
}

    .radio-inline-group label {
        margin-right: 10px;
        white-space: nowrap;*/ /* Prevents the label from breaking into multiple lines */
/*}

    .radio-inline-group .radio-options {
        display: flex;
        gap: 10px;*/ /* Adjust the spacing between radio buttons */
/*}*/


.radio-trip-type {
    display: flex;
    flex-direction: column; /* Keeps the label and options in a column */
    padding-bottom: 15px;
}

    .radio-trip-type .typetrip {
        margin-right: 10px;
    }

    .radio-trip-type label {
        margin: 5px; /* Space between the label and the radio buttons */
    }

    .radio-trip-type .radio-options {
        display: flex;
        flex-direction: row; /* Aligns radio buttons in a row */
        gap: 10px; /* Adjust the spacing between radio buttons */
    }

    .radio-trip-type .trip-info {
        font-size: 12px;
        margin-top: 10px;
        color: #666;
    }


.location-description {
    font-size: 12px; /* Font size of the description text */
    color: #666; /* Color of the description text */
    text-align: left; /* Align text to the left */
    padding: 0 15px; /* Padding around the text */
}

@media (max-width: 767px) {
    .location-description {
        padding: 0 10px; /* Adjust padding for smaller screens */
    }
}



/* ==========================================================================
   #SELECT2
   ========================================================================== */
.select--no-search .select2-search {
    display: none !important;
}

.rs-select2 .select2-container {
    width: 100% !important;
    outline: none;
}

    .rs-select2 .select2-container .select2-selection--single {
        outline: none;
        border: none;
        height: 34px;
    }

        .rs-select2 .select2-container .select2-selection--single .select2-selection__rendered {
            line-height: 34px;
            padding-left: 0;
            color: #555;
        }

        .rs-select2 .select2-container .select2-selection--single .select2-selection__arrow {
            height: 32px;
            right: 4px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -moz-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -moz-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

            .rs-select2 .select2-container .select2-selection--single .select2-selection__arrow b {
                display: none;
            }

            .rs-select2 .select2-container .select2-selection--single .select2-selection__arrow:after {
                font-family: "Material-Design-Iconic-Font";
                content: '\f2f9';
                font-size: 18px;
                color: #ccc;
                -webkit-transition: all 0.4s ease;
                -o-transition: all 0.4s ease;
                -moz-transition: all 0.4s ease;
                transition: all 0.4s ease;
            }

    .rs-select2 .select2-container.select2-container--open .select2-selection--single .select2-selection__arrow::after {
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }

.select2-container--open .select2-dropdown--below {
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    border: 1px solid #e0e0e0;
    margin-top: 5px;
    overflow: hidden;
}

/* ==========================================================================
   #TITLE
   ========================================================================== */
.title {
    margin-bottom: 37px;
}

/* ==========================================================================
   #CARD
   ========================================================================== */
.card {
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
}

.card-1 {
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

    /*    .card-1 .card-heading {
        background: url("../images/bg-head-02.jpg") center center/cover no-repeat;
        padding-top: 210px;
    }*/

    .card-1 .card-body {
        padding: 0 90px;
        padding-top: 55px;
        padding-bottom: 65px;
    }

@media (max-width: 767px) {
    .card-1 .card-body {
        padding: 0 40px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

/* ==========================================================================
   #Select Button
   ========================================================================== */

.select-btn{
    display: flex;
    cursor: pointer;
}

.select-btn .btn-text{
    font-size: 17px;
    font-weight: 400;
    margin-left: 10px;
}

.select-btn .arrow-dwn {
    display: flex;
    height: 21px;
    width: 21px;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.select-btn.open .arrow-dwn {
    transform: rotate(-180deg);
}

/* ==========================================================================
#Select Items
========================================================================== */
    .list-items {
        position: relative;
        margin-top: 15px;
        padding: 16px;
        display: none;
    }

.select-btn.open ~ .list-items{
    display: block;
}

.list-items .item {
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    cursor: pointer;
}

.item .item-text{
    font-size: 16px;
    font-weight: 400;
}

.item .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid #c0c0c0;
    transition: all 0.3s ease-in-out;
}

.item.checked .checkbox {
    background-color: #840029;
    border-color: #840029;
}

.checkbox .check-icon {
    color: #ffffff;
    font-size: 11px;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
}

.item.checked .check-icon {
    transform: scale(1);
}