body {
    margin: 0;
    padding: 0;
    font-family: font-family: "Open Sans", sans-serif;
    background: #EEEEEE;
    min-height: 100vh;
    overflow-x: hidden;
}

.navbar {
    display: none;
}

.footer {
    display: none;
}

.container1 {
    position: relative;
    width: 100%
}

.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: #840029;
    border-left: 10px solid #840029;
    transition: 0.5s;
    overflow: hidden;
}

    .navigation.active {
        width: 100px;
    }

    .navigation ul {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

        .navigation ul li {
            position: relative;
            width: 100%;
            list-style: none;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
        }

            .navigation ul li:hover,
            .navigation ul li.hovered {
                background: #EEEEEE;
            }

            .navigation ul li:nth-child(1) {
                margin-bottom: 40px;
                pointer-events: none;
            }

            .navigation ul li a {
                position: relative;
                display: block;
                width: 100%;
                display: flex;
                text-decoration: none;
                color: #fdb71a;
            }

            .navigation ul li:hover a,
            .navigation ul li.hovered a {
                color: #840029;
            }

            .navigation ul li a .icon {
                position: relative;
                display: block;
                min-width: 60px;
                height: 60px;
                line-height: 70px;
                text-align: center;
            }

                .navigation ul li a .icon i {
                    font-size: 1.75em;
                }

            .navigation ul li a .title {
                position: relative;
                display: block;
                padding: 0 10px;
                height: 60px;
                line-height: 60px;
                text-align: start;
                white-space: none;
            }

            .navigation ul li:hover a::before,
            .navigation ul li.hovered a::before {
                content: '';
                position: absolute;
                right: 0;
                top: -50px;
                width: 50px;
                height: 50px;
                background: transparent;
                border-radius: 50%;
                box-shadow: 35px 35px 0 10px #EEEEEE;
                pointer-events: none;
            }

            .navigation ul li:hover a::after,
            .navigation ul li.hovered a::after {
                content: '';
                position: absolute;
                right: -50px;
                bottom: -50px;
                width: 50px;
                height: 50px;
                background: transparent;
                border-radius: 50%;
                box-shadow: 35px -35px 0 10px #EEEEEE;
                pointer-events: none;
            }


.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: #EEEEEE;
    transition: 0.5s;
}

    .main.active {
        width: calc(100% - 100px);
        left: 100px;
    }

.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.toggle {
    position: relative;
    top: 0;
    width: 60px;
    height: 60px;
    background: #EEEEEE;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 2.5em;
    cursor: pointer;
}

    .toggle i {
        color: #840029;
    }

.search {
    position: relative;
    width: 400px;
    margin: 0 10px;
}

    .search label {
        position: relative;
        width: 100%;
    }

        .search label input {
            width: 100%;
            height: 40px;
            border-radius: 40px;
            padding: 5px 20px;
            padding-left: 35px;
            font-size: 18px;
            outline: none;
            border: 1px solid #840029;
        }

        .search label i {
            position: absolute;
            top: 0;
            left: 10px;
            font-size: 1.2em;
        }

.user {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    margin-right: 20px;
}

    .user img {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.icons-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px; /* Controls spacing between icons */
    margin-left: 55%;
}


.notification-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
}


.notification-bell {
    position: relative;
    cursor: pointer;
    margin-top: 10px;
}

    .notification-bell .badge {
        position: absolute;
        top: -10px;
        right: -10px;
        padding: 5px 10px;
        border-radius: 50%;
        background: #840029;
        color: white;
        font-size: 0.7em;
    }

    .notification-bell i {
        font-size: 1.5em;
        color: #840029;
    }

.notification-message {
    position: relative;
    cursor: pointer;
    margin-top: 10px;
}

    .notification-message .badge {
        position: absolute;
        top: -10px;
        right: -10px;
        padding: 5px 10px;
        border-radius: 50%;
        background: #840029;
        color: white;
        font-size: 0.7em;
        font-weight: bold;
    }

    .notification-message i {
        font-size: 1.5em;
        color: #840029;
    }

.dropdown-menu {
    position: absolute;
    top: 50px; /* Adjust if needed to control vertical offset */
    left: auto; /* Reset left position */
    right: -5px; /* Align the dropdown's right edge with the notification icon's right edge */
    z-index: 1000;
    display: none;
    min-width: 320px; /* Minimum width of the dropdown */
    padding: 0.5rem 0;
    font-size: 13px;
    color: #212529;
    text-align: left;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
    box-shadow: 0 3px 5px rgba(0,0,0,.2);
    padding-top: 15px;
}

    .dropdown-menu-arrow ::before {
        content: "";
        width: 13px;
        height: 13px;
        background: #fff;
        position: absolute;
        top: -6px; /*half the height of the pointer to align it with the dropdown top */
        right: 10px;
        transform: rotate(45deg);
        border-top: 1px solid #eaedf1;
        border-left: 1px solid #eaedf1;
    }

    /* Styling for individual notification items */
    .dropdown-menu .notification-item {
        display: flex;
        align-items: center;
        padding: 15px 10px;
        border-bottom: 1px solid #ccc;
        
    }

        .dropdown-menu .notification-item:last-child {
            border-bottom: none;
        }

        .dropdown-menu .notification-item i {
            margin: 0 20px 0 10px;
            font-size: 20px;
            position: relative;
        }

        .bi-exclamation-circle::before {
            content: "\f333";
            position: absolute;
            bottom: 0; /* Position it at the bottom of the notification item */
            left: 3px; /* Start from the left */
            top: -10px;
            transform: translateX(-100%); /* Move it to the left by 100% of its width */
            width: 13px;
            height: 13px;
            border-top: none;
            border-left: none;
        }
/*

        .notification-item .bi-exclamation-circle::before {
            width: 13px;
            height: 13px;
            border-top: none;
            border-left: none;
        }
*/
        /*.notification-item .bi-exclamation-circle::before {
            content: "\f333";
            width: 13px !important;
            height: 13px !important;
            top: 30px !important;*/ /*half the height of the pointer to align it with the dropdown top */
            /*right: 295px !important;
            transform: none !important;
            position: absolute !important;
            border-top: none !important;
            border-left: none !important;
        }*/

    .dropdown-menu .notification-item h4 {
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 5px;
        }

        .dropdown-menu .notification-item p {
            font-size: 13px;
            margin-bottom: 3px;
            color: #919191;
        }

        .dropdown-menu .notification-item:hover {
            background-color: #f6f9ff;
        }


.cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}

    .cardBox .card {
        position: relative;
        background: white;
        border-top: 3px solid #840029;
        border-bottom: 3px solid #840029;
        padding: 30px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    }

        .cardBox .card .numbers {
            position: relative;
            font-weight: 500;
            font-size: 2.5em;
            color: #840029;
        }

        .cardBox .card .cardName {
            color: #840029;
            font-size: 1.1em;
            margin-top: 5px;
        }

        .cardBox .card .icon {
            font-size: 3.5em;
            color: #840029
        }

        .cardBox .card:hover {
            background: #840029
        }

            .cardBox .card:hover .numbers,
            .cardBox .card:hover .cardName,
            .cardBox .card:hover .icon {
                color: #EEEEEE;
            }

.details {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
}

    .details .recentItem {
        display: none;
        position: relative;
        display: grid;
        min-height: 500px;
        border-top: 3px solid #840029;
        border-bottom: 3px solid #840029;
        padding: 20px;
        background: white;
        box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    }

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

    .cardHeader h2 {
        font-weight: 600;
        color: #840029;
    }

.btn {
    position: relative;
    padding: 5px 10px;
    background-color: #840029;
    text-decoration: none;
    color: #EEEEEE;
    border-radius: 6px;
}

.details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

    .details table thead td {
        font-weight: 600;
    }

.details .recentItem table tr {
    color: #840029;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.details table tr:hover {
    background: #840029;
    color: white;
}

.recentFeedback {
    position: relative;
    display: grid;
    min-height: 500px;
    border-top: 3px solid #840029;
    border-bottom: 3px solid #840029;
    padding: 20px;
    background: white;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}
    
.recentFeedback table tr {
    color: #840029;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

    .recentFeedback table tr:hover {
        background: #840029;
        color: white;
    }

    .recentFeedback table tr td {
        padding: 12px 10px;
    }

        .recentFeedback table tr td h4 {
            font-size: 16px;
            font-weight: 500;
            line-height: 1.2em;
        }

            .recentFeedback table tr td h4 span {
                font-size: 14px;
                color: rgba(0,0,0,0.08)
            }

    .recentFeedback table tr:hover td h4 span {
        color: white;
    }


/* practicing this way to be responsive */
@media (max-width: 991px) {
    .navigation {
        left: -300px;
    }

        .navigation.active {
            width: 300px;
            left: 0;
        }

    .main {
        width: 100%;
        left: 0;
    }

        .main.active {
            left: 300px;
        }

    .cardBox {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 768px) {
    .details {
        grid-template-columns: repeat(1,1fr);
    }

    .recentOrders {
        overflow-x: auto;
    }
}

@media (max-width: 480px) {
    .cardBox {
        grid-template-columns: repeat(1,1fr);
    }

    .cardHeader h2 {
        font-size: 20px;
    }

    .user {
        min-width: 40px;
    }

    .navigation {
        width: 100%;
        left: -100%;
        z-index: 1000;
    }

        .navigation.active {
            width: 100%;
            left: 0;
        }

    .toggle {
        z-index: 10001;
    }

    .main.active .toggle {
        position: fixed;
        right: 0;
        left: initial;
        color: white;
    }
}