body {
    margin: 0;
    padding: 0;
    font-family: font-family: "Open Sans", sans-serif;
    background: #EEEEEE;
    min-height: 100vh;
    overflow-x: hidden;
}

.navbar {
    display: none;
}

.footer {
    display: none;
}

.container1 {
    position: relative;
    width: 100%
}

.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: #840029;
    border-left: 10px solid #840029;
    transition: 0.5s;
    overflow: hidden;
}

    .navigation.active {
        width: 100px;
    }

    .navigation ul {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

        .navigation ul li {
            position: relative;
            width: 100%;
            list-style: none;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
        }

            .navigation ul li:hover,
            .navigation ul li.hovered {
                background: #EEEEEE;
            }

            .navigation ul li:nth-child(1) {
                margin-bottom: 40px;
                pointer-events: none;
            }

            .navigation ul li a {
                position: relative;
                display: block;
                width: 100%;
                display: flex;
                text-decoration: none;
                color: #fdb71a;
            }

            .navigation ul li:hover a,
            .navigation ul li.hovered a {
                color: #840029;
            }

            .navigation ul li a .icon {
                position: relative;
                display: block;
                min-width: 60px;
                height: 60px;
                line-height: 70px;
                text-align: center;
            }

                .navigation ul li a .icon i {
                    font-size: 1.75em;
                }

            .navigation ul li a .title {
                position: relative;
                display: block;
                padding: 0 10px;
                height: 60px;
                line-height: 60px;
                text-align: start;
                white-space: none;
            }

            .navigation ul li:hover a::before,
            .navigation ul li.hovered a::before {
                content: '';
                position: absolute;
                right: 0;
                top: -50px;
                width: 50px;
                height: 50px;
                background: transparent;
                border-radius: 50%;
                box-shadow: 35px 35px 0 10px #EEEEEE;
                pointer-events: none;
            }

            .navigation ul li:hover a::after,
            .navigation ul li.hovered a::after {
                content: '';
                position: absolute;
                right: 0;
                bottom: -50px;
                width: 50px;
                height: 50px;
                background: transparent;
                border-radius: 50%;
                box-shadow: 35px -35px 0 10px #EEEEEE;
                pointer-events: none;
            }
