/* ==========================================================================
   #Input Fields
   ========================================================================== */

input {
    outline: none;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
        width: 100%;   /*comment it out because it was causing the input fields to be too wide*/

}

.input-fields {
    position: relative;
    margin-bottom: 25px;
}

.form-line {
    border-bottom: 2px solid #ccc;
}

.input-icon {
    position: absolute;
    font-size: 18px;
    color: #ccc;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.input--style-1 {
    padding: 9px 0;
    color: #666;
    border: none;
}

    .input--style-1::-webkit-input-placeholder {
/*         WebKit, Blink, Edge */
        color: #555;
    }

    .input--style-1:-moz-placeholder {
/*         Mozilla Firefox 4 to 18 */
        color: #555;
        opacity: 1;
    }

    .input--style-1::-moz-placeholder {
/*         Mozilla Firefox 19+ */
        color: #555;
        opacity: 1;
    }

    .input--style-1:-ms-input-placeholder {
/*         Internet Explorer 10-11 */
        color: #555;
    }

    .input--style-1:-ms-input-placeholder {
/*         Microsoft Edge */
        color: #555;
    }
/*
 Mobile Responsive Styles */
@media (max-width: 767px) {
    .input-fields select.input--style-1 {
        font-size: 12px;
        padding: 9px 0;
    }

     To add the dropdown arrow icon 
    .input-fields .input--style-1 {
        position: relative;
    }

        .input-fields .input--style-1::after {
            content: '▼';
            position: absolute;
            right: 8px;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;  /*This prevents the pseudo-element from blocking clicks */
            color: #ccc;
        }
}



.name-info {
    font-size: 12px; /* Font size of the description text */
    color: #666; /* Color of the description text */
    text-align: left;  /*Align text to the left */
    padding: 0 15px;/*  Padding around the text */
}

@media (max-width: 767px) {
    .name-info {
        padding: 0 10px; /* Adjust padding for smaller screens */
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px; 
}

    .form-group label {
        margin-bottom: 5px; 
        font-weight: 600; 
    }

    .form-group input,
    .form-group textarea {
        width: 100%; 
        padding: 10px;
        border: 1px solid #ccc; 
        border-radius: 4px;
    }

    .form-group .form-check .form-check-input {
        margin-right: 0.5rem;
        margin-top: 0.2rem;
    }

    .form-group .form-check .form-check-label {
        margin-right: -2.5rem;
        display: inline-block;
    }

/*
 Emoji Rating */
.emoji-rating {
    font-size: 1.5em;
    cursor: pointer;
}

    .emoji-rating input {
        display: none; /* Removing the default radio button styles */
    }

    .emoji-rating label {
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
        color: #ccc;
    }

    .emoji-rating input:checked + label {
        transform: scale(1.3);  /*Scale the emoji a little on select */
    }

Colors for different levels of satisfaction
#emoji-5:checked ~ label[for="emoji-5"],
#emoji-5:hover ~ label[for="emoji-5"] {
    color: #006400;
}

#emoji-4:checked ~ label[for="emoji-4"],
#emoji-4:hover ~ label[for="emoji-4"] {
    color: #32CD32;
}

#emoji-3:checked ~ label[for="emoji-3"],
#emoji-3:hover ~ label[for="emoji-3"] {
    color: #808080;
}

#emoji-2:checked ~ label[for="emoji-2"],
#emoji-2:hover ~ label[for="emoji-2"] {
    color: #FF6347; /*golden rod*/
}

#emoji-1:checked ~ label[for="emoji-1"],
#emoji-1:hover ~ label[for="emoji-1"] {
    color: #FF0000;
}

/* ==========================================================================
   #BUTTON
   ========================================================================== */
.button {
    line-height: 36px;
    display: inline-block;
    padding: 0 16px;
    cursor: pointer;
    color: #840029;/*  Maroon color for text */
    font-size: 12px;
    font-weight: 700;
    border: 2px solid #840029; 
    background-color: transparent; 
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 5px;
    border-radius: 25px; 
    transition: all 0.1s ease-out; 
    animation: none;
}

.button--submit:hover, .button--cancel:hover {
    animation: thickenBorder 0.1s ease-out forwards; /*Apply the keyframe animation on hover */
    background-color: #840029;
    color: white;
}


/* ==========================================================================
   #TESTIMONIALS
   ========================================================================== */
.testimonials-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    gap: 25px; 
    padding: 20px;
    margin-bottom: -1rem;
}
/**/
.testimonial {
    flex: calc(33.333% - 20px); /* Calculate width for 3 columns, minus the gap */
    flex-grow: 0; 
    flex-shrink: 0;
    max-width: calc(33.333% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: relative;
    padding: 1em;
    background: #ffca52;
    box-shadow: 0 2px 2px hsla(0, 0%, 0%, 0.075), 0 3px 3px hsla(0, 0%, 0%, 0.075), 0 5px 5px hsla(0, 0%, 0%, 0.075), 0 9px 9px hsla(0, 0%, 0%, 0.075), 0 17px 17px hsla(0, 0%, 0%, 0.075);
    border-radius: 8px; 
    margin-bottom: 40px; 
}

    /* Speech bubble tail */
    .testimonial::before {
        content: '';
        position: absolute;
        bottom: -20px; 
        left: 50%;
        transform: translateX(-50%);
        border-style: solid;
        border-width: 20px 20px 0 20px;
        border-color: #ffca52 transparent transparent transparent;
    }

/* ==========================================================================
   #Testimonials Header
   ========================================================================== */
.testimonials-header {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem; 
    position: relative; 
}

    .testimonials-header h2 {
        font-size: 2.0rem;
        color: #666;
        margin: 0;
        padding: 0;
        display: inline-block; 
        position: relative; 
        letter-spacing: 1px;
    }

        .testimonials-header h2 span {
            color: #f5a623; 
        }

    /* Decorative underline */
    .testimonials-header h2::after {
        content: '';
        display: block;
        width: 80px; 
        height: 4px; 
        background-color: #f5a623; 
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -10px; 
    }

/* Responsive adjustments for the header */
@media (max-width: 768px) {
    .testimonials-header h2 {
        font-size: 2rem;
    }
}

@media (max-width: 480px) {
    .testimonials-header h2 {
        font-size: 1.5rem;
    }
}


/* Quote style */
.quote {
    font-size: 2em; 
    position: absolute;
    color: white;
    background: #840029;
    width: 30px; 
    height: 30px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

    .quote.open {
        top: 0px; 
        left: 0px; 
    }

    .quote.close {
        bottom: 0px; 
        right: 0px; 
    }

/* Image styling */
.image {
    transform: rotate(-5deg);
    position: absolute;
    top: 10px;
    right: 24px; 
    width: 75px; 
    height: 75px; 
}

/* Image styling */
.feedback-image {
    width: 100%;
    height: auto;
    border: 7px solid #666;
    display: block;
}

.clip {
    border: 3px solid #222;
    border-right: none;
    height: 45px;
    width: 13px;
    position: absolute;
    right: 75%;
    top: -8%;
    border-radius: 25px;
}
    .clip ::before {
        content: "";
        position: absolute;
        top: -1px;
        right: 0;
        height: 10px;
        width: 16px;
        border: 2px solid #222;
        border-bottom: none;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        z-index: 99;
    }

    .clip ::after {
        content: "";
        position: absolute;
        bottom: -1px;
        right: 0;
        height: 40px;
        width: 16px;
        border: 2px solid #222;
        border-top: none;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        z-index: 99;
    }

.emojiRatingTestimonial {
    margin-top: -12px;
    margin-right: 37px;
    background: #666;
    border-radius: 50%;
}


/* Testimonial text */
.feedback-comment {
    font-size: 12px; /* Adjust size as needed */
    margin-bottom: 10px; /* Space between text and source/date */
    margin-right: auto;
    padding-top: 20px;
    font-weight: 600;
    width: 75%;
    float: left;
}

/* Source and date container */
.source {
    text-align: center; 
    font-size: 0.85em;
    padding-top: 10px;
    padding-bottom: 1em; 
    margin-left: auto;
    font-weight: 700;
}

/* Date styling */
.date-submitted {
    color: #666;
}

/* Handle responsiveness */
@media (max-width: 768px) {
    .testimonial {
        flex-basis: calc(50% - 20px); 
        max-width: calc(50% - 20px); 
    }
}

@media (max-width: 480px) {
    .testimonial {
        flex-basis: 100%; 
        max-width: 100%; 
    }
}
/* ==========================================================================
   #Pagination
   ========================================================================== */
.pagination {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 1rem; 
    margin-bottom: 5rem; 
    padding: 0.5rem 0;
}

.page-btn {
    font-size: 1rem; 
    background-color: #fff; 
    color: #840029; 
    border: 2px solid #840029; 
    border-radius: 5px;
    padding: 0.5rem 1rem; 
    margin: 0 10px; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

    .page-btn:not(:disabled):not(.disabled) {
        cursor: pointer;
    }

    .page-btn:hover {
        background-color: #840029; 
        color: #fff; 
    }

    .page-btn:focus,
    .page-btn:active {
        outline: none; /* Remove the default outline on focus/active states */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    }

/* Adjustments for responsiveness */
@media (max-width: 768px) {
    .pagination {
        margin-top: -2.5rem;
        margin-bottom: 4.5rem;
    }
}

@media (max-width: 480px) {
    .page-btn {
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
        margin: 0 3px;
    }

    .testimonials-container {
        margin-bottom: 1.5rem; 
    }
}

/* ==========================================================================
   #Validation
   ========================================================================== */


.validation-message {
    color: red;
    font-size: 0.8rem;
    margin-top: 5px;
    display: none; /* Hide by default */
}

    .validation-message:before {
        content: "\26A0";
        color: red;
        font-weight: bold;
        margin-right: 5px;
    }


