/*
    @media (min-width: 544px) {}
    @media (min-width: 768px) {}
    @media (min-width: 992px) {}
    @media (min-width: 1200px) {}
    @media (min-width: 1400px) {}
    @media (min-width: 1600px) {}
*/

html{scroll-behavior: smooth;}

/*custom contaienr*/
.container-custom {
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;

}

@media (min-width: 1200px) {
    .container-custom { width: 1140px; }
}


@media (min-width: 1400px) {
    .container-custom {
        width: 1340px;
    }
}


@media (min-width: 1600px) {
    .container-custom {
        width: 1520px;
    }
}

/*
    Hero Section
*/
.hero {
    position: relative;

    height: 100vh;
    background-color: #840029;
    overflow: hidden;

}

@media (min-width: 1400px) {
    .hero_heading {
        font-size: 3.2rem;
    }
}
    
    .hero_video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        transform: translateX(-50%) translateY(-50%);
    }

.hero_image {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
}

.hero_overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #840029;
    opacity: 0.5;
    z-index: 1;
}

.hero_content {
    z-index: 1;

}

.hero_content-width {
    max-width: 540px;
}

.hero_scroll-btn {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    z-index: 1;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.hero_scroll-btn:hover {
    color: white;
    opacity: 0.8;
}

.hero_scroll-btn .bi {
    transition-delay: 0.8s;
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    from {
        transform: translateY(0px)
    } to {
          transform: translateY(-10px)
      }
}

/*
    About Section
*/

.steps {
    padding-top: 40px;
    padding-bottom: 40px;
}

.steps_section-thumbnail {
    height: 240px;    
    object-fit: cover;
    margin: 0 auto;
}

.step-background {
    /*background-color: #f8f9fa;*/
    background-color: #ebebeb;
    width:auto;
}

.steps_section-width{
    height: 256px;
    margin: 0 auto;
}

.steps {
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity 0.5s, transform 0.5s;
}

    .steps.animated {
        opacity: 1;
        transform: translateX(0);
    }

@media (min-width: 544px) {
    .steps {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .steps_section-thumbnail {
        height: 480px;
    }
}



/* This will apply to all paragraphs with class 'lead mb-4' directly followed by an 'a' with class 'link-pages' */
.lead.mb-4 + .link-pages {
    display: block;
    margin-top: 10px; 
}

