.details {
    position: relative;
    width: 100%;
    padding: 20px;
    
}

    .details .recentItem {
        display: none;
        position: relative;
        display: grid;
        min-height: 500px;
        border-top: 3px solid #840029;
        border-bottom: 3px solid #840029;
        padding: 20px;
        background: white;
        box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    }

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

    .cardHeader h2 {
        font-weight: 600;
        color: #840029;
    }

.btn {
    position: relative;
    padding: 5px 10px;
    background-color: #840029;
    text-decoration: none;
    color: #EEEEEE;
    border-radius: 6px;
}

.details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

    .details table thead td {
        font-weight: 600;
    }

.details .recentItem table tr {
    color: #840029;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.details table tr:hover {
    background: #840029;
    color: white;
}

.recentFeedback {
    position: relative;
    display: grid;
    min-height: 500px;
    border-top: 3px solid #840029;
    border-bottom: 3px solid #840029;
    padding: 20px;
    background: white;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}

    .recentFeedback table tr {
        color: #840029;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

        .recentFeedback table tr:hover {
            background: #840029;
            color: white;
        }

        .recentFeedback table tr td {
            padding: 12px 10px;
        }

            .recentFeedback table tr td h4 {
                font-size: 16px;
                font-weight: 500;
                line-height: 1.2em;
            }

                .recentFeedback table tr td h4 span {
                    font-size: 14px;
                    color: rgba(0,0,0,0.08)
                }

        .recentFeedback table tr:hover td h4 span {
            color: white;
        }

/* Modal styles */


.modal-dialog {
    position: relative;
    margin: 10% auto;
    width: 80%;
    max-width: 600px;
}

.modal-content {
    position: relative;
    background-color: #fff; /* White background */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08); /* Updated box shadow */
}

.modal-header {
    padding: 20px; /* Increased padding */
    border-bottom: 3px solid #840029; /* Red border */
    background-color: #fff; /* White background */
}

.modal-title {
    margin: 0;
    font-weight: 600;
    color: #840029; /* Red color */
}

.close {
    position: absolute;
    top: 20px; /* Adjusted position */
    right: 20px; /* Adjusted position */
    font-size: 30px;
    color: #840029; /* Red color */
    cursor: pointer;
}

.modal-body {
    padding: 20px; /* Increased padding */
}

    .modal-body table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
    }

    .modal-body th,
    .modal-body td {
        padding: 12px 10px; /* Adjusted padding */
        text-align: left;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        color: #840029; /* Red color */
    }

    .modal-body tr:hover {
        background: #840029;
        color: white;
    }

    .modal-body a {
        color: #840029; /* Red color */
    }

        .modal-body a:hover {
            color: white;
            text-decoration: none;
        }

    /* Optional: Add hover effect to table rows */
    .modal-body tr:hover {
        background-color: #f5f5f5; /* Light gray background on hover */
    }


/* Add styles for printing */
@media print {
    .modal-content {
        box-shadow: none; /* Remove box shadow when printing */
    }

    .modal-header button {
        display: none; /* Hide close button when printing */
    }

    /* Route Schedule table */
    .table-top-border {
        border-top: 2px solid black;
    }

    .table-left-border {
        border-left: 2px solid black;
    }

    .table-right-border {
        border-right: 2px solid black;
    }

    .center-col {
        text-align: center;
        color: black;
        font-weight: 500;
    }

    .red-cell {
        padding: 0px;
    }

    .gold-cell {
        padding: 0px;
    }

    .stripe-cell {
        padding: 0px;
    }

    body * {
        visibility: hidden;
    }

    #printSection, #printSection * {
        visibility: visible;
    }

    #printSection {
        position: absolute;
        left: 0;
        top: 0;
    }

    html, body {
        height: 100vh;
        margin: 0 !important;
        padding: 0 !important;
        overflow: hidden;
    }
}