.details {
    position: relative;
    width: 100%;
    padding: 20px;
    
}

    .details .recentItem {
        display: none;
        position: relative;
        display: grid;
        min-height: 500px;
        border-top: 3px solid #840029;
        border-bottom: 3px solid #840029;
        padding: 20px;
        background: white;
        box-shadow: 0 7px 25px rgba(0,0,0,0.08);
    }

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

    .cardHeader h2 {
        font-weight: 600;
        color: #840029;
    }

.btn {
    position: relative;
    padding: 5px 10px;
    background-color: #840029;
    text-decoration: none;
    color: #EEEEEE;
    border-radius: 6px;
}

.details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

    .details table thead td {
        font-weight: 600;
    }

.details .recentItem table tr {
    color: #840029;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.details table tr:hover {
    background: #840029;
    color: white;
}

.recentFeedback {
    position: relative;
    display: grid;
    min-height: 500px;
    border-top: 3px solid #840029;
    border-bottom: 3px solid #840029;
    padding: 20px;
    background: white;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}

    .recentFeedback table tr {
        color: #840029;
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

        .recentFeedback table tr:hover {
            background: #840029;
            color: white;
        }

        .recentFeedback table tr td {
            padding: 12px 10px;
        }

            .recentFeedback table tr td h4 {
                font-size: 16px;
                font-weight: 500;
                line-height: 1.2em;
            }

                .recentFeedback table tr td h4 span {
                    font-size: 14px;
                    color: rgba(0,0,0,0.08)
                }

        .recentFeedback table tr:hover td h4 span {
            color: white;
        }

/* Route Schedule table */
.table-top-border {
    border-top: 2px solid black;
}

.table-left-border {
    border-left: 2px solid black;
}

.table-right-border {
    border-right: 2px solid black;
}

.center-col {
    text-align: center;
    color: black;
    font-weight: 500;
}

.red-cell {
    background-color: #840029;
    color: white;
    padding: 0px;
}

.gold-cell {
    background-color: #fdb71a;
    padding: 0px;
}

.stripe-cell {
    background-color: rgba(128, 128, 128, .5);
    padding: 0px;
}

.btn-mstc-gold {
    background-color: #fdb71a;
    color: black;
}

.btn-mstc-red {
    background-color: #840029;
    color: white;
}

.btn-mstc-gold, .btn-mstc-red {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

@media screen {
    #printSection {
        display: none;
    }
}

@media print {
    body * {
        visibility: hidden;
    }

    #printSection, #printSection * {
        visibility: visible;
    }

    #printSection {
        position: absolute;
        left: 0;
        top: 0;
    }
}