
/* ==========================================================================
   #GRID
   ========================================================================== */
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row-space {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.col-6 {
    width: -webkit-calc((100% - 60px) / 2);
    width: -moz-calc((100% - 60px) / 2);
    width: calc((100% - 60px) / 2);
}

@media (max-width: 767px) {
    .col-6 {
        width: 100%;
    }
}

/* ==========================================================================
   #BOX-SIZING
   ========================================================================== */
/**
 * More sensible default box-sizing:
 */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

    *, *:before, *:after {
        -webkit-box-sizing: inherit;
        -moz-box-sizing: inherit;
        box-sizing: inherit;
    }


body {
    font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 15px;
}

h6 {
    font-size: 13px;
}

/* Hide the spinner in Webkit browsers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide the spinner in Firefox */
input[type=number] {
    -moz-appearance: textfield;
}



/* ==========================================================================
   #SPACING
   ========================================================================== */
.p-t-100 {
    padding-top: 100px;
}

.p-t-20 {
    padding-top: 20px;
}

.p-b-100 {
    padding-bottom: 100px;
}

/* ==========================================================================
   #WRAPPER
   ========================================================================== */
.wrapper {
    margin: 0 auto;
}

.wrapper--w680 {
    max-width: 680px;
}

/* ==========================================================================
   #BUTTON
   ========================================================================== */
.btn {
    line-height: 40px;
    display: inline-block;
    padding: 0 25px;
    cursor: pointer;
    font-family: "Roboto", "Arial", "Helvetica Neue", sans-serif;
    color: #fff;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    font-size: 14px;
    font-weight: 700;
}

.btn--radius {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.btn--green {
    background: #57b846;
}

    .btn--green:hover {
        background: #4dae3c;
    }

/* ==========================================================================
   #Validation
   ========================================================================== */


.validation-message {
    color: red;
    font-size: 0.8rem;
    margin-top: 5px;
    display: none; /* Hide by default */
}

    .validation-message:before {
        content: "\26A0";
        color: red;
        font-weight: bold;
        margin-right: 5px;
    }

/* ==========================================================================
   #Input Fields
   ========================================================================== */
input {
    outline: none;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
/*    width: 100%; */ /* comment it out because it was causing the input fields to be too wide*/
    font-size: 14px;
    font-family: inherit;
}

.input-fields {
    position: relative;
    margin-bottom: 25px;
    border-bottom: 2px solid #ccc;
}

.input-icon {
    position: absolute;
    font-size: 18px;
    color: #ccc;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.input--style-1 {
    padding: 9px 0;
    color: #666;
    border: none;
}

    .input--style-1::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: #555;
    }

    .input--style-1:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #555;
        opacity: 1;
    }

    .input--style-1::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #555;
        opacity: 1;
    }

    .input--style-1:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #555;
    }

    .input--style-1:-ms-input-placeholder {
        /* Microsoft Edge */
        color: #555;
    }
/*
    First trip yes or no radio buttons which I commented out for now
*/
/*.radio-inline-group {
    display: flex;
    position: relative;
    margin-bottom: 30px;
    border-bottom: 2px solid #ccc;
    align-items: center;
    gap: 60px;*/ /* Adjust the spacing between elements */
    /*padding-bottom: 15px;
}

    .radio-inline-group label {
        margin-right: 10px;
        white-space: nowrap;*/ /* Prevents the label from breaking into multiple lines */
    /*}

    .radio-inline-group .radio-options {
        display: flex;
        gap: 10px;*/ /* Adjust the spacing between radio buttons */
    /*}*/

/* ==========================================================================
   #Student Info
   ========================================================================== */
.student-info .student-info-label {
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
}
.student-email {
    font-size: 12px;
    margin-top: -13px;
    color: #666;
}


/* ==========================================================================
   #Additional Fields Radio buttons(TripType/FridayRequest)
   ========================================================================== */
.radio-options-special-request, .radio-trip-type {
    display: flex;
    flex-direction: column; /* Keeps the label and options in a column */
    padding-bottom: 15px;
}

    .radio-options-special-request .typetrip, .radio-trip-type .typetrip {
        margin-right: 10px;
        font-size: 14px;
        font-weight: bold;
    }

    .radio-options-special-request label, .radio-trip-type label{
        margin: 5px; /* Space between the label and the radio buttons */
    }

    .radio-options-special-request, .radio-trip-type .radio-options {
        display: flex;
        flex-direction: row; /* Aligns radio buttons in a row */
        gap: 10px; /* Adjust the spacing between radio buttons */
    }

        .radio-options-special-request .trip-info, .radio-trip-type .trip-info {
            font-size: 12px;
            margin-top: 3px;
            color: #666;
        }



.location-description {
    font-size: 12px; /* Font size of the description text */
    color: #666; /* Color of the description text */
    text-align: left; /* Align text to the left */
    padding: 0 15px; /* Padding around the text */
}

@media (max-width: 767px) {
    .location-description {
        padding: 0 10px; /* Adjust padding for smaller screens */
    }
}

/* ==========================================================================
   #Other Special Request Styles
   ========================================================================== */
.other-special-request {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
}

.other-special-request-label {
    margin-right: 10px;
    font-weight: bold;
}

.other-special-request-options .radio-options {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.other-special-request-options label {
    margin: 5px; /* Space between the label and the radio buttons */
}

.other-special-request-info {
    font-size: 12px;
    margin-top: 10px;
    color: #666;
}



/* ==========================================================================
   #Friday Special Request Styles
   ========================================================================== */
.special-request {
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: 2px solid #ccc;
}

.special-request-label {
    margin-right: 10px;
    font-weight: bold;
}

.special-request-options .radio-options{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
    .special-request-options label{
        margin: 5px; /* Space between the label and the radio buttons */
    }

.special-request-info {
    font-size: 12px;
    margin-top: 10px;
    color: #666;
}

.special-request-input {
    padding: 9px 0;
    color: #666;
    border: none;
}

    .special-request-input::-webkit-input-placeholder {
        color: #555;
    }

    .special-request-input:-moz-placeholder {
        color: #555;
        opacity: 1;
    }

    .special-request-input::-moz-placeholder {
        color: #555;
        opacity: 1;
    }

    .special-request-input:-ms-input-placeholder {
        color: #555;
    }

    .special-request-input::-ms-input-placeholder {
        color: #555;
    }

.special-request-guide
{
    font-size: 12px;
    color: #666;
    margin-top: -11px;
}

.must-arrive-by {
    margin-right: 10px;
    margin-bottom: 3px;
}


.which-friday-container {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    margin-bottom: 20px; /* Spacing below the container */
    margin-top: 20px; /* Spacing above the container */
}

.which-friday-label {
    margin-bottom: 10px; /* Spacing between label and textbox */
}

.which-friday-input {
    padding: 9px 12px !important;
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 5px; /* Slightly rounded corners */
    font-size: 12px; /* Matching font size */
    color: #666; /* Text color */
    width: 100%; /* Ensure it fills the container */
    box-sizing: border-box; /* Padding and border included in the width */
}

/* Adjust styling for textarea to handle multiple lines */
.which-friday-container .which-friday-input {
    padding: 10px !important; /* Increased padding for larger text area */
    height: 150px; /* Adjust the height as necessary */
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 5px; /* Slightly rounded corners */
    font-size: 12px; /* Matching font size */
    color: #666; /* Text color */
}


.which-friday-guide {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
}

/* ==========================================================================
   #Other Special Request Need Transportation
   ========================================================================== */

.need-transportation-container {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    margin-bottom: 20px; /* Spacing below the container */
    margin-top: 20px; /* Spacing above the container */
}

.need-transportation-label {
    margin-bottom: 10px; /* Spacing between label and textbox */
}

.need-transportation-input {
    padding: 9px 12px !important;
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 5px; /* Slightly rounded corners */
    font-size: 12px; /* Matching font size */
    color: #666; /* Text color */
    width: 100%; /* Ensure it fills the container */
    box-sizing: border-box; /* Padding and border included in the width */
}

/* Adjust styling for textarea to handle multiple lines */
.need-transportation-container .need-transportation-input {
    padding: 10px !important; /* Increased padding for larger text area */
    height: 150px; /* Adjust the height as necessary */
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 5px; /* Slightly rounded corners */
    font-size: 12px; /* Matching font size */
    color: #666; /* Text color */
}


/* ==========================================================================
   #Contact Preferences
   ========================================================================== */
.contact-preference {
    margin-top: 30px;
    display: flex;
    flex-direction: column; /* Keeps the label and options in a column */
}

.contact-preference-label {
    margin-right: 10px;
    font-weight: bold;
}

    .contact-preference label {
        margin: 5px; /* Space between the label and the radio buttons */
    }

    .contact-preference .radio-options {
        display: flex;
        flex-direction: row; /* Aligns radio buttons in a row */
        gap: 10px; /* Adjust the spacing between radio buttons */
    }

.contact-preference-guide {
    font-size: 12px;
    color: #666;
    margin-top: 5px;
}


/* ==========================================================================
   #Checkbox Styles
   ========================================================================== */

/* Container for the checkbox and text */
.checkbox-container {
    display: flex;
    align-items: start;
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9; /* Light background color */
}

/* Styling for the checkbox input */
#AgreeTerms {
    flex-shrink: 0; /* Prevent checkbox from shrinking */
    margin-right: 10px; /* Space between the checkbox and the label text */
    cursor: pointer;
}

/* Styling for the Terms and Conditions label */
.AgreeTerms {
    flex-grow: 1;
    font-size: 14px; /* Readable text size */
    color: red; /* Distinctive font color */
    line-height: 1.5; /* Space between lines */
    cursor: pointer;
}

/* Styling for the checkbox input */
input[type=checkbox] {
    appearance: none; /* Remove default checkbox appearance */
    -webkit-appearance: none; /* For Safari */
    margin-right: 10px; /* Space between the checkbox and the label text */
    font-size: 20px; /* Sets the size of the checkbox */
    line-height: 1; /* Aligns the checkbox symbol vertically */
    width: 20px;
    height: 20px;
    border: 2px solid #808080; 
    border-radius: 3px; /* Slightly rounded corners for the checkbox */
    vertical-align: middle;
    cursor: pointer;
    position: relative; /* Needed to position the checkmark absolutely */
    outline: none; /* Removes the focus outline */
}

    /* Checkmark style when checked */
    input[type=checkbox]:checked::after {
        content: '✔'; /* Unicode checkmark symbol */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Center the checkmark inside the checkbox */
        font-size: 16px;
        color: #4dae3c; /* green checkmark */
    }

/* ==========================================================================
   #TITLE
   ========================================================================== */
.title {
    margin-bottom: 37px;
}

/* ==========================================================================
   #Form Structure
   ========================================================================== */
.form {
    overflow: hidden;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
}

.form-1 {
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
}

    .form-1 .form-body {
        padding: 0 90px;
        padding-top: 55px;
        padding-bottom: 65px;
    }

@media (max-width: 767px) {
    .form-1 .form-body {
        padding: 0 40px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
