body {
    padding-top: 56px;
    overflow-x: hidden;
}

@media (min-width: 768px) {
    body {
        padding-top: 0;
    }
}

a {
    text-decoration: none;
    color: currentColor;
}

    a:hover {
        color: currentColor;
    }

header {
    width: 100vw;
    background-color: #fff;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 25%);
    display: flex;
    align-items: center;
    padding: 10px 15px; /* Adjusted padding for better spacing */
}


    header .container-fluid {
        width: 100%;
        padding: 0 15px; /* Adjusted padding for smaller screens */
    }

    /* Maintain your existing styles for .navb-items and .items */
    header .navb-items {
        display: flex;
        align-items: center;
        letter-spacing: 3px;
    }

    header .nav-item {
        text-align: center;
        margin-right: 15px; /* Adjusted margin for smaller screens */
        font-size: 20px;
        letter-spacing: 3px;
        color: maroon;
        padding: 5px 0;
        transition: all .1s ease;
        border-bottom: 0px solid #ffd300;
        border-top: 0px solid #ffd300;
        cursor: pointer;
    }

        header .nav-item:hover {
            border-bottom: 3px solid #ffd300;
            border-top: 3px solid #ffd300;
        }

    header .item-button a {
        background-color: maroon;
        width: 150px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
        color: #ffd300;
        transition: all .5s ease;
    }

        header .item-button a:hover {
            background-color: #ffd300;
            color: maroon;
        }

/* Style the navbar-toggler button */
.navbar-toggler-icon {
    color: maroon;
}