/*
    Mid-state Marron: #840029;
    Mid-state Gold: ##fdb71a;
    @media (min-width: 544px) {}
    @media (min-width: 768px) {}
    @media (min-width: 992px) {}
    @media (min-width: 1200px) {}
    @media (min-width: 1400px) {}
    @media (min-width: 1600px) {}
*/


* {
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
    
}


a {
    text-decoration: none;
    color: currentColor;
}

    a:hover {
        color: currentColor;
    }

header {
    width: 100vw;
    background-color: #fff;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 25%);
    display: flex;
    align-items: center;
    padding: 10px 15px; /* Adjusted padding for better spacing */
    z-index: 2;
}


    header .container-fluid {
        width: 100%;
        padding: 0 15px; /* Adjusted padding for smaller screens */
    }

    header .navbar-brand img {
        max-height: 40px; /* Adjust this value to your desired size */
    }

    /* Maintain your existing styles for .navb-items and .items */
    header .nav-items {
        display: flex;
        align-items: center;
        letter-spacing: 3px;
    }

    header .nav-item {
        text-align: center;
        margin-right: 15px; /* Adjusted margin for smaller screens */
        font-size: 20px;
        letter-spacing: 3px;
        color: #840029;
        padding: 5px 0;
        transition: all .1s ease;
        border-bottom: 0px solid #fdb71a;
        border-top: 0px solid #fdb71a;
        cursor: pointer;
    }

        header .nav-item:hover {
            border-bottom: 3px solid #fdb71a;
            border-top: 3px solid #fdb71a;
        }

    header .item-button a {
        background-color: #840029;
        width: 150px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        font-weight: 600;
        color: #ffd300;
        transition: all .5s ease;
    }

        header .item-button a:hover {
            background-color: #fdb71a;
            color: #840029;
        }

/*custom contaienr*/
.container-custom {
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;
}

@media (min-width: 1200px) {
    .container-custom {
        width: 1140px;
    }
}


@media (min-width: 1400px) {
    .container-custom {
        width: 1340px;
    }
}


@media (min-width: 1600px) {
    .container-custom {
        width: 1520px;
    }
}

/* Style the navbar-toggler button */
.navbar-toggler-icon {
    color: #840029;
}

/*
    Footer styles
*/

footer {
    background-color: #840029;
}

.footerContainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.footerNav {
    margin: 20px 0;
}

.footerNav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.footerNav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3rem;
    opacity: 0.7;
    transition: 0.5s;
}

    .footerNav ul li a:hover {
        opacity: 1;
        color: #fdb71a;
    }

    .footerBottom{
        background-color: black;
        padding: 20px;
        text-align: center;
    }
.footerBottom p {
    color: #840029;
}

.desinger {
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width: 768px) {
    .footerNav ul {
        flex-direction: column;
    }

        .footerNav ul li {
            width: 100%;
            text-align: center;
            margin: 10px;
        }
}