@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model MidStateShuttleService.Models.Location

<!-- Include Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/Location.css" />
<link rel="stylesheet" href="/css/Modal.css" />


<!-- Include jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<body>
    <div>
        <div class="wrapper wrapper--w680 mt-5">
            <div class="form form-1">

                <div class="form-body">
                    <h2 class="title">Edit Location</h2>
                    <form asp-action="Edit" method="post">
                        @Html.AntiForgeryToken()
                        <div>


                            <div class="input-fields">
                                <input asp-for="Name" type="text" class="input--style-1" placeholder="Stop Name" required />
                                <div class="div-line"></div>
                                <div id="Name-validation-message" class="validation-message">Please enter a valid stop name.</div>
                            </div>

                            <div class="input-fields">
                                <input asp-for="Address" type="text" class="input--style-1" placeholder="Enter Address" required />
                                <div class="div-line"></div>
                                <div id="Address-validation-message" class="validation-message">Please enter a valid address.</div>
                            </div>

                            <div class="input-fields">
                                <input asp-for="City" type="text" class="input--style-1" placeholder="City" required />
                                <div class="div-line"></div>
                                <div id="City-validation-message" class="validation-message">Please enter a valid city.</div>
                            </div>

                            <div class="input-fields">
                                <input asp-for="State" type="text" class="input--style-1" placeholder="State" maxlength="2" required />
                                <div class="div-line"></div>
                                <div id="State-validation-message" class="validation-message">Please enter a valid State.</div>
                            </div>

                            <div class="input-fields">
                                <input asp-for="ZipCode" type="text" class="input--style-1" placeholder="Zip Code" required />
                                <div class="div-line"></div>
                                <div id="ZipCode-validation-message" class="validation-message">Please enter a valid zip code.</div>
                            </div>

                            <div class="input-fields">
                                <input asp-for="Abbreviation" type="text" class="input--style-1" placeholder="Stop Abbreviation" required />
                                <div class="div-line"></div>
                                <div id="Abbreviation-validation-message" class="validation-message">Please enter a 3 digit easy to understand abbreviation.</div>
                            </div>

                            <input hidden asp-for="LocationId" value="@Model.LocationId" />

                            <div class="p-t-20">
                                <div class="p-t-20">
                                    <button class="btn btn--radius btn--submit" type="submit">Save</button>
                                    <button class="btn btn--radius btn--cancel" type="button" onclick="location.href='../../Dashboard'">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Success Modal -->
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successModalLabel">Edit Successful</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Location edited successfully!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="location.href='../../Dashboard'">Return</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            var locationSuccess = '@TempData["LocationSuccess"]';
            if (locationSuccess === 'True') {
                $('#successModal').modal('show');
            }
        });
    </script>

    <script src="~/js/location.js"></script>
</body>
