
@{
    ViewData["Title"] = "Index";
    <link rel="stylesheet" href="~/css/Dashboard.css"/>
}

<div class="container1">
    <div class="navigation">
        <ul>
            <li>
                <a href="#">
                    <span class="icon"></span>
                    <span class="title"></span>
                </a>
            </li>
            <li>
                <a href="#" id="order">
                    <span class="icon"><i class="bi bi-house"></i></span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#" id="employee">
                    <span class="icon"><i class="bi bi-map"></i></span>
                    <span class="title">Routes</span>
                </a>
            </li>
            <li>
                <a href="#" id="product">
                    <span class="icon"><i class="bi bi-clipboard2-check"></i></span>
                    <span class="title">Check Ins</span>
                </a>
            </li>
            <li>
                <a href="#" id="department">
                    <span class="icon"><i class="bi bi-geo-alt"></i></span>
                    <span class="title">Locations</span>
                </a>
            </li>
            <li>
                <a href="#" id="shuttle">
                    <span class="icon"><i class="bi bi-bus-front"></i></span>
                    <span class="title">Shuttles</span>
                </a>
            </li>

            <li>
                <a href="#" id="messages">
                    <span class="icon"><i class="bi bi-send-arrow-down-fill"></i></span>
                    <span class="title">Messages</span>
                </a>
            </li>

            <li>
                <a href="@Url.Action("Logout", "Account")">
                    <span class="icon"><i class="bi bi-box-arrow-left"></i></span>
                    <span class="title">Sign out</span>
                </a>
            </li>
        </ul>
    </div>
</div>

