@using MidStateShuttleService.Service
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@inject IListService listService
@model MidStateShuttleService.Models.CommuncateModel

@* page stylesheet *@
<link rel="stylesheet" href="css/Communication/Communicate.css" />

@* fontawesome link for dropdown arrow *@
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<body>
    <div>
        <div class="wrapper wrapper--w680 mt-5">
            <div class="card card-1">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Send Message</h2>
                    <form id="CommunicateForm" method="post" asp-action="Index">
                        @Html.AntiForgeryToken()
                        <div>


                                <div class="input-fields">
                                    <textarea type="text" id="message" asp-for="message" class="input--style-1 text-box single-line p-2" placeholder="Enter message..." maxlength="160"></textarea>
                                    <div id="message-Validation-Message" class="validation-message"></div>
                                </div>

                            <div class="row row-space">
                                <div class="col-6">
                                    <div class="input-fields">
                                        @if (Model.LocationNames != null)
                                        {
                                            @Html.DropDownListFor(model => model.PickUpLocationID, Model.LocationNames, "Select Pick-Up Location", new { @class = "input--style-1", id = "PickUpLocation" })
                                        }
                                        else
                                        {
                                            <p>Error: Location names not loaded.</p>
                                        }
                                        <div class="form-line"></div>
                                        <div id="PickUpLocation-validation-message" class="validation-message">Please select pickup location</div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="input-fields">
                                        @if (Model.LocationNames != null)
                                        {
                                            @Html.DropDownListFor(model => model.DropOffLocationID, Model.LocationNames, "Select Drop-Off Location", new { @class = "input--style-1", id = "DropOffLocation" })
                                        }
                                        else
                                        {
                                            <p>Error: Location names not loaded.</p>
                                        }
                                        <div class="form-line"></div>
                                        <div id="DropOffLocation-validation-message" class="validation-message">Pelase select dropoff location</div>
                                    </div>
                                </div>
                            </div>

                            <p class="trip-info">*Message will be sent to all students registered to the selected route.</p>
                        </div>
                        <div class="p-t-20">
                            <button class="btn btn--radius btn--submit" type="submit">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="~/js/Communication/Communicate.js"></script>
<script src="~/js/Communication/shuttleSelect.js"></script>
