@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model MidStateShuttleService.Models.CommuncateModel

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

<div>
    <div class="wrapper wrapper--w680">
        <div class="card card-1">
            <div class="card-heading"></div>
            <div class="card-body">
                <h2 class="title">Send Message</h2>
                @using (Html.BeginForm("Communicate", "Communicate", FormMethod.Post))
            {
                    @Html.AntiForgeryToken()

                    /// Message input box
                    <div class="col-2">
                        <textarea>

                        </textarea>
                    </div>

                    /// Shuttle choosing
                    /// The drop down list should display each shuttle in the database, but uses placeholders for now
                    <div class="col-2">
                        <div class="input-group">
                            @Html.DropDownListFor(model => model.shuttles, new SelectList(new[] { "Example1", "Example2" }), "Select shuttles to send message to", new { @class = "input--style-1" })
                        </div>
                    </div>

                <div class="p-t-20">
                    <button class="btn btn--radius btn--green" type="submit">Send Message</button>
                </div>
            }
            </div>
        </div>
    </div>


</div>