@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model MidStateShuttleService.Models.CommuncateModel

<link rel="stylesheet" href="css/Communicate.css" />

<body>
    <div>
        <div class="wrapper wrapper--w680">
            <div class="card card-1">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Send Message</h2>
                    @using (Html.BeginForm("Communicate", "Communicate", FormMethod.Post))
                {
                        @Html.AntiForgeryToken()
                        <div>

                           @* Message input box *@
                            <div class="row row-space">
                                <div class="input-group">
                                    <textarea class="form-control">

                                    </textarea>
                                </div>
                            </div>

                            @* Shuttle choosing 
                            The drop down list should display each shuttle in the database, but uses placeholders for now *@
                            <div class="row row-space">
                                <div class="input-group">
                                    <select id="shuttleSelect" asp-for="shuttles" class="form-control choices-multiple">
                                        <option>Example</option>
                                        <option>Example2</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="p-t-20">
                            <button class="btn btn--radius btn--green" type="submit">Send</button>
                        </div>
                }
                </div>
            </div>
        </div>
    </div>
</body>

