@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model MidStateShuttleService.Models.CommuncateModel

@* page stylesheet *@
<link rel="stylesheet" href="css/Communication/Communicate.css" />

@* fontawesome link for dropdown arrow *@
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<body>
    <div>
        <div class="wrapper wrapper--w680 mt-5">
            <div class="card card-1">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Send Message</h2>
                    @using (Html.BeginForm("Communicate", "Communicate", FormMethod.Post))
                {
                        @Html.AntiForgeryToken()
                        <div>

                           @* Message input box 
                               I don't quite know if I like the styling for this as of right now
                           *@
                            <div class="row row-space">
                                <div class="input-group">
                                    <textarea id="message" asp-for="message" class="form-control border-0 shadow-none " rows="1" placeholder="Enter message..."></textarea>
                                </div>
                                <div id="Message-validation-message" class="validation-message"></div>
                            </div>

                            @* Shuttle choosing 
                            The drop down list should display each shuttle in the database, but uses placeholders for now *@
                            <div class="row row-space">
                                <div class="select-container">
                                    <div class="select-btn input-group">
                                        <span class="btn-text">Select Message Recipients</span>
                                        <span class="arrow-dwn">
                                            <i class="fa-solid fa-chevron-down"></i>
                                        </span>
                                    </div>

                                    <ul class="list-items" asp-for="shuttles">
                                        <li class="item">
                                            <input class="checkbox">
                                            <label for="checkbox" class="item-text">Example 1</label>
                                        </li>
                                        <li class="item">
                                            <input class="checkbox">
                                            <label for="checkbox" class="item-text">Example 2</label>
                                        </li>
                                        <li class="item">
                                            <input class="checkbox">
                                            <label for="checkbox" class="item-text">Example 3</label>
                                        </li>
                                    </ul>
                                </div>
                                <div id="Shuttles-validation-message" class="validation-message"></div>
                                <p class="trip-info">*Message will be sent to all students registered to the selected shuttles.</p>
                            </div>
                        </div>
                        <div class="p-t-20">
                            <button class="btn btn--radius btn--green" type="submit">Send</button>
                        </div>
                }
                </div>
            </div>
        </div>
    </div>
</body>

<script src="~/js/Communication/Communicate.js"></script>
<script src="~/js/Communication/shuttleSelect.js"></script>

