<link rel="stylesheet" href="../css/Communication/Communicate.css" />
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model MidStateShuttleService.Models.Message

@* page stylesheet *@


<body>
    <div>
        <div class="wrapper wrapper--w680 mt-5">
            <div class="card card-1">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Send Message</h2>

                    @* Checkbox for form display *@
                    <div class="input-fields">
                            <p class="typetrip">Is this message an emergency?</p>
                            <div class="radio-options">
                                <input type="radio" id="formToggle" onclick="toggleForm()" />
                                <label for="formToggle">Yes</label>

                                <input type="radio" id="formToggleNo" onclick="toggleForm()" />
                                <label for="formToggleNo">No</label>
                            </div>
                    </div>

                    <div id="emergencyContact" style="display: none;">
                        <span>For an emergency response, please call or text the following number: 123-456-1234</span>
                    </div>

                    <div id="formContainer" style="display: none;">
                        <form id="CommunicateForm" method="post" asp-action="StudentCommunicate">
                            @Html.AntiForgeryToken()
                            <div>
                                @* Name input box *@
                                <div class="input-fields">
                                    <input type="text" asp-for="name" class="input--style-1 text-box single-line p-2" placeholder="Name" id="name" maxlength="50"/>
                                    <div id="name-Validation-Message" class="validation-message"></div>
                                </div>

                                @* Message input box
                                I don't quite know if I like the styling for this as of right now
                                *@
                                <div class="input-fields">
                                    <textarea type="text" id="message" asp-for="message" class="input--style-1 text-box single-line p-2" placeholder="Enter message..." maxlength="160"></textarea>
                                    <div id="message-Validation-Message" class="validation-message"></div>
                                </div>

                                @* Checkbox to get response *@
                                <div class="input-fields">
                                    <p class="typetrip">Would you like to recieve a response?</p>
                                    <div class="radio-options">
                                        <input type="radio" asp-for="responseRequired" value="true" id="responseRequest" onclick="toggleDisplay()" />
                                        <label for="responseRequest">Yes</label>

                                        <input type="radio" asp-for="responseRequired" value="false" id="responseRequest" onclick="toggleDisplay()" />
                                        <label for="responseRequest">No</label>
                                    </div>
                                </div>

                                @* Contact info *@
                                <div class="input-fields" id="contactInfoDiv" style="display: none;">
                                    <p class="trip-info">Please enter an Email to recieve a response.</p>
                                    <input type="text" asp-for="contactInfo" class="input--style-1 text-box single-line p-2" placeholder="Contact Info" id="contactInfo" maxlength="50" />
                                    <div id="contactInfo-Validation-Message" class="validation-message"></div>
                                </div>
                            </div>
                            <div class="p-t-20">
                                <button class="btn btn--radius btn--submit" type="submit">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="~/js/Communication/StudentCommunicate.js"></script>
<script src="~/js/Communication/contactInfo.js"></script>
