@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model MidStateShuttleService.Models.Message

@* page stylesheet *@
<link rel="stylesheet" href="css/Communication/Communicate.css" />

<body>
    <div>
        <div class="wrapper wrapper--w680 mt-5">
            <div class="card card-1">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Send Message</h2>
                    <form id="CommunicateForm" method="post" asp-action="StudentCommunicate">
                        @Html.AntiForgeryToken()
                        <div>

                            @* Message input box
                            I don't quite know if I like the styling for this as of right now
                            *@
                            <div class="input-fields">
                                <input type="text" id="message" asp-for="message" class="input--style-1 text-box single-line" placeholder="Enter message..." maxlength="160" />
                                <div id="message-Validation-Message" class="validation-message"></div>
                            </div>

                        </div>
                        <div class="p-t-20">
                            <button class="btn btn--radius btn--green" type="submit">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="~/js/Communication/StudentCommunicate.js"></script>
