@{
    ViewData["Title"] = "Create Route";
}

@inject MidStateShuttleService.Service.IListService ListServices
@model MidStateShuttleService.Models.Routes

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/routes.css" />
<link rel="stylesheet" href="/css/Modal.css" />

<body>
    <div class="wrapper wrapper--w680 mt-5">
        <div class="form form-1">
            <div class="form-body">
                <h2 class="title">Create Route</h2>
                <form asp-action="Create" method="post">

                    <div class="input-fields">
                        <label>Pick Up Location</label>
                        <select asp-for="PickUpLocationID"
                                asp-items="ViewBag.Locations"
                                class="form-control input--style-1" required>
                            <option selected="selected" value="" required>--Select--</option>
                        </select>
                        <div class="div-line"></div>
                        <div id="PickUpLocationID-validation-message" class="validation-message">Please select a pick-up location.</div>
                    </div>

                    <div class="input-fields">
                        <label>Drop Off Location</label>
                        <select asp-for="DropOffLocationID"
                                asp-items="ViewBag.Locations"
                                class="form-control input--style-1" required>
                            <option selected="selected" value="" required>--Select--</option>
                        </select>
                        <div class="div-line"></div>
                        <div id="DropOffLocationID-validation-message" class="validation-message">Please select a drop-off location.</div>
                    </div>

                    <div class="input-fields">
                        <label>Pick Up Time</label>
                        <input asp-for="PickUpTime" type="time" class="form-control input--style-1" required />
                        <div class="div-line"></div>
                        <div id="PickUpTime-validation-message" class="validation-message">Please enter a valid pick-up time.</div>
                    </div>

                    <div class="input-fields">
                        <label>Drop Off Time</label>
                        <input asp-for="DropOffTime" type="time" class="form-control input--style-1" required />
                        <div class="div-line"></div>
                        <div id="DropOffTime-validation-message" class="validation-message">Please enter a valid drop-off time.</div>
                    </div>

                    <div class="input-fields">
                        <label>Assigned Driver</label>
                        <select asp-for="DriverId"
                                asp-items="ViewBag.Drivers"
                                class="form-control input--style-1" required>
                            <option selected="selected" value="" required>--Select--</option>
                        </select>
                        <div class="div-line"></div>
                        <div id="BusId-validation-message" class="validation-message">Please select a Shuttle.</div>
                    </div>

                    <div class="input-fields">
                        <label>Additional Details</label>
                        <textarea asp-for="AdditionalDetails" class="form-control input--style-1" placeholder="Enter additional details"></textarea>
                        <div class="div-line"></div>
                        <div id="AdditionalDetails-validation-message" class="validation-message">Please enter valid additional details.</div>
                    </div>

                    <div class="p-t-20">
                        <button type="submit" class="btn btn--radius btn--submit">Create Route</button>
                        <button class="btn btn--radius btn--cancel" type="button" onclick="location.href='../Dashboard'">Cancel</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <!-- Success Modal -->
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="successModalLabel">Route Added</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Route was added successfully!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="location.href='../../Dashboard'">Return</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Add Another</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            var routeSuccess = '@TempData["RouteSuccess"]';
            if (routeSuccess === 'True') {
                $('#successModal').modal('show');
            }
        });
    </script>

    <script src="~/js/Routes.js"></script>
</body>
