@{
    ViewData["Title"] = "Home Page";
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script defer src="~/js/homeScroll.js"></script>
}

<!--Hero Section-->

<section class="hero">

    <div class="hero_overlay"></div>

    <video playsinline="playsinline" autoplay="autoplay" muted="muted"
        loop="loop" loading="lazy" class="hero_video">
        <source src="img/Mid State Technical College You Belong Here Start Spring 2023.mp4" type="video/mp4" />
    </video>

    <div class="hero_content h-100 container-custom position-relative">
        <div class="d-flex h-100 align-items-center hero_content-width">
            <div class="text-white">
                <h1 class="hero_heading fw-bold mb-4">Mid-State Shuttle Service</h1>
                <p class="lead mb-4">Hop aboard our shuttle for travel to and between campuses.</p>
                <a href="@Url.Action("Index", "Register")" class="mt-2 btn btn-lg btn-outline-light" role="button">
                    Reserve A Spot Now
                </a>
            </div>
        </div>
    </div>

    <a href="#scroll-down" class="hero_scroll-btn">
        Learn More <i class="bi bi-arrow-bar-down"></i>
    </a>
</section>


<a id="scroll-down"></a>

<!--Section 1 Starts-->

<section class="steps container-custom">
    <div class="row">
        <div class="col-12 col-sm-6 d-md-flex justify-content-md-center">
            <img src="~/img/c2c.jpg" alt="Shuttle Image" class="img-fluid pb-4 steps_section-thumbnail" width="553" height="746" loading="lazy" />
        </div>
        <div class="col-12 col-sm-6 align-self-center justify-content-md-center">
            <div class="stesp_content-width">
                <span>01</span>
                <h1 class="h2 mb-4">Reserve Your Spot</h1>
                <p class="mb-4">Reserve your spot on the shuttle by registering online. It's quick and easy.  Reserve your spot on the shuttle by registering online. It's quick and easy. Reserve your spot on the shuttle by registering online. It's quick and easy.</p>
                <a href="#">Click here <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>


</section>

<!--Section 1 Ends-->
<!--Section 2 Starts-->

<section class="steps steps--background">
    <div class="container-custom">
        <div class="row">
            <div class="col-12 col-sm-6 d-md-flex justify-content-md-center order-sm-1">
                <img src="~/img/sideshuttle.jpg" alt="Shuttle Image" class="img-fluid pb-4 steps_section-thumbnail" width="553" height="746" loading="lazy" />
            </div>
            <div class="col-12 col-sm-6 align-self-center justify-content-md-center">
                <div class="stesp_content-width">
                    <span>02</span>
                    <h1 class="h2 mb-4">Share Your Feedback</h1>
                    <p class="mb-4">We value your feedback. Share your experience with us and help us improve our service. We value your feedback. Share your experience with us and help us improve our service. We value your feedback. Share your experience with us and help us improve our service.</p>
                    <a href="#">Click here <i class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Section 2 Ends-->
<!--Section 3 Starts-->

<section class="steps container-custom">
    <div class="row">
        <div class="col-12 col-sm-6 d-md-flex justify-content-md-center">
            <img src="~/img/c2c.jpg" alt="Shuttle Image" class="img-fluid pb-4 steps_section-thumbnail" width="553" height="746" loading="lazy" />
        </div>
        <div class="col-12 col-sm-6 align-self-center justify-content-md-center">
            <div class="stesp_content-width">
                <span>03</span>
                <h1 class="h2 mb-4">Learn More!</h1>
                <p class="mb-4">Learn more about our shuttle service and how it can help you get to and between campuses. Learn more about our shuttle service and how it can help you get to and between campuses. Learn more about our shuttle service and how it can help you get to and between campuses.</p>
                <a href="#">Click here <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>
<!--Section 3 Ends-->

<!-- Section with 3 Col's Start-->
<section class="Three bg-dark text-white py-4">

    <div class="container-custom my-4">
        <div class="row">
           <div class="col-12 col-sm-4 mb-4">
               <img src="~/img/c2c.jpg" alt="Shuttle Image" class="img-fluid mb-4" width="441" height="248" loading="lazy" />
                <h3 class="h2 mb-4">Reserve Your Spot</h3>
                <p class="mb-4">Reserve your spot on the shuttle by registering online. It's quick and easy.  Reserve your spot on the shuttle by registering online. It's quick and easy. Reserve your spot on the shuttle by registering online. It's quick and easy.</p>
           </div>

            <div class="col-12 col-sm-4 mb-4">
                <img src="~/img/c2c.jpg" alt="Shuttle Image" class="img-fluid mb-4" width="441" height="248" loading="lazy" />
                <h3 class="h2 mb-4">Reserve Your Spot</h3>
                <p class="mb-4">Reserve your spot on the shuttle by registering online. It's quick and easy.  Reserve your spot on the shuttle by registering online. It's quick and easy. Reserve your spot on the shuttle by registering online. It's quick and easy.</p>
            </div>

            <div class="col-12 col-sm-4 mb-4">
                <img src="~/img/c2c.jpg" alt="Shuttle Image" class="img-fluid mb-4" width="441" height="248" loading="lazy" />
                <h3 class="h2 mb-4">Reserve Your Spot</h3>
                <p class="mb-4">Reserve your spot on the shuttle by registering online. It's quick and easy.  Reserve your spot on the shuttle by registering online. It's quick and easy. Reserve your spot on the shuttle by registering online. It's quick and easy.</p>
            </div>
        </div>
    </div>

</section>
<!-- Section with 3 Col's End-->