@{
    ViewData["Title"] = "Home Page";
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
}

<!--Hero Section-->

<section class="hero">

    <div class="hero_overlay"></div>

    <video playsinline="playsinline" autoplay="autoplay" muted="muted"
        loop="loop" loading="lazy" class="hero_video">
        <source src="img/Mid State Technical College You Belong Here Start Spring 2023.mp4" type="video/mp4" />
    </video>



</section>