@{
    ViewData["Title"] = "Home Page";
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
}

<!--Hero Section-->

<section class="hero">

    <div class="hero_overlay"></div>

    <video playsinline="playsinline" autoplay="autoplay" muted="muted"
        loop="loop" loading="lazy" class="hero_video">
        <source src="img/Mid State Technical College You Belong Here Start Spring 2023.mp4" type="video/mp4" />
    </video>

    <div class="hero_content h-100 container-custom position-relative">
        <div class="d-flex h-100 align-items-center hero_content-width">
            <div class="text-white">
                <h1 class="hero_heading fw-bold mb-4">Mid-State Shuttle Service</h1>
                <p class="lead mb-4">Hop aboard our shuttle for travel to and between campuses.</p>
                <a href="@Url.Action("Index", "Register")" class="mt-2 btn btn-lg btn-outline-light" role="button">
                    Reserve A Spot Now
                </a>
            </div>
        </div>
    </div>

    <a href="#scroll-down" class="hero_scroll-btn">
        Learn More <i class="bi bi-arrow-bar-down"></i>
    </a>
</section>


<a id="scroll-down"></a>

123<br />
123
<br />
123
<br />
123
<br />
123
123

<br />
<br />