@using Microsoft.AspNetCore.Identity

@inject SignInManager<MidStateShuttleServiceUser> SignInManager
@inject UserManager<MidStateShuttleServiceUser> UserManager

@{
    ViewData["Title"] = "Privacy Policy";
}

@if (User.IsInRole("Admin"))
{
    <h1>You are an Admin</h1>
}
else if (User.IsInRole("User"))
{
    <h1>User: @UserManager.GetUserName(User)</h1>
} else
{
    <h1>Welcome Guest</h1>
}